@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

:root {
    --nav-item-width-1: 0%;
    --nav-item-width-2: 0%;
    --nav-item-width-3: 0%;
    --nav-item-width-4: 0%;
}

@font-face {
    font-family: myFont;
    src: url("../others/EuropaGroteskSH-Med.otf");
}

.navbar-aside {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 8.125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: #181818;
}

.active-nav-item {
    pointer-events: none;
    color: white !important;
}

.logo-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    padding-top: 0;
    background-color: black;
    color: white;
}

.logo-div>a {
    display: inline-block;
    text-align: center;
}

.logo-div-item {
    margin: 0.25rem;
    color: white;
}

#logo {
    position: relative;
    display: inline-block;
    font-size: 5rem;
    height: 5.5rem;
    font-weight: bold;
    margin-bottom: 0;
}

#logo::before {
    content: "ð’©";
    color: red;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 5px;
}

#name {
    display: inline-block;
    font-family: myFont;
    font-size: 1.5rem;
    margin-top: 0;
    letter-spacing: 0.1rem;
}

#tag {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    font-weight: lighter;
    margin-top: 0.5rem;
    text-align: center;
    color: #a5a5a5;
}

.nav-div {
    width: 100%;
}

.nav-main li a {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.nav-item {
    position: relative;
    padding: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #a5a5a5;
    border-collapse: collapse;
    transition: all 300ms linear;
}

.nav-item:hover {
    color: red;
}

#nav-item-1::before,
#nav-item-2::before,
#nav-item-3::before,
#nav-item-4::before {
    content: "";
    position: absolute;
    z-index: 99;
    top: 0;
    left: 50%;
    height: 0.1px;
    background-color: red;
    width: var(--nav-item-width);
    transform: translateX(-50%);
    transition: all 300ms linear;
}

#nav-item-1::after,
#nav-item-2::after,
#nav-item-3::after,
#nav-item-4::after {
    content: "";
    position: absolute;
    z-index: 99;
    bottom: 0;
    left: 50%;
    height: 0.1px;
    background-color: red;
    width: var(--nav-item-width);
    transform: translateX(-50%);
    transition: all 300ms linear;
}

#nav-item-1::before,
#nav-item-1::after {
    width: var(--nav-item-width-1);
}

#nav-item-2::before,
#nav-item-2::after {
    width: var(--nav-item-width-2);
}

#nav-item-3::before,
#nav-item-3::after {
    width: var(--nav-item-width-3);
}

#nav-item-4::before,
#nav-item-4::after {
    width: var(--nav-item-width-4);
}

.social-div {
    height: 15rem;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.social-div>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.social-div>ul>li>a>img {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    transition: all 300ms linear;
    opacity: 0.5;
}

.social-div>ul>li>a>img:hover {
    transform: scale(1.2);
    opacity: 1;
}