@media only screen and (max-width: 1000px) {
    .navbar-aside {
        transform: translateY(-100%);
        transition: all 300ms linear;
        position: fixed;
        z-index: 97;
        height: 100%;
        width: 100%;
    }

    .logo-div {
        padding: 0.5rem 0;
    }

    .social-div {
        height: 20%;
    }

    .social-div>ul {
        justify-content: center;
    }

    .social-div>ul>li>a>img {
        margin: 0 0.5rem;
    }

    .container {
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    .title,
    #about,
    #skills,
    #contact {
        padding: 0 min(2rem, 5vw);
    }

    .data {
        font-size: max(2vw, 1rem);
        line-height: normal;
        font-weight: lighter;
    }

    .title-head {
        font-size: min(13vw, 3.5rem) !important;
    }

    .nopopper {
        font-size: min(15vw, 4rem);
    }

    .wrapper {
        font-size: min(4rem, 10vw);
        line-height: min(3rem, 13vw);
        letter-spacing: 0.03em;
    }

    #brief {
        font-size: 3vw;
        letter-spacing: normal;
        line-height: 5vw;
        width: 100%;
    }

    .btn {
        padding: min(2vw, 0.7rem) min(7vw, 2.5rem);
        font-size: 3vw;
    }

    #tip-left {
        left: 0;
    }

    .tip-data {
        font-size: min(2vw, 0.7rem);
    }

    .content {
        width: 100%;
    }

    #skills {
        flex-direction: column;
    }

    #skills-chart {
        width: 100%;
        margin-bottom: 3rem;
    }

    .visible {
        transform: translateY(0);
    }

    .nav-res {
        position: fixed;
        z-index: 99;
        top: 0.5rem;
        right: 0.5rem;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 0.5rem;
    }

    .bur {
        height: 3px;
        width: 35px;
        margin: 7px 0;
        background-color: white;
    }
}